{% extends 'base.html' %}

{% block body_onload%} window.scroll(0, 100500);  {% end block %}

{% block content %}

    <div class="h1">
    {{ channel }} {% if not user.is_anonymous %}(<a href="/accounts/logout/">logout</a>){% endif %}
    </div>


    {%  for obj in object_list %}

        {%  if forloop.counter0|divisibleby:10 %}
            <div class='time'>
                {{ obj.timestamp|date:"F j, H:i" }}
            </div>
        {% endif %}

        {%  ifequal obj.type 'pubmsg' %}
            <div class="pp {% ifequal obj.nick nick %} hl {% endifequal %}">
                <b>{{ obj.nick }}: </b>
                {{ obj.message|urlize }}
            </div>
        {% else %}
            <div class="pp m_{{ obj.type }}">
                <b>* {{ obj.nick }} </b>
                {{ obj.message|urlize }}
            </div>
        {% endifequal %}


    {% endfor %}

{% endblock %}
